
<div  class="well well-lg" style="width:400px;">
<strong  ng-show="!success"><p class="alert alert-success">User Name:{{controller.userDetails.username}}</p>
<p class="alert alert-success">Email:{{controller.userDetails.email}}</p>
<p class="alert alert-success">Password:{{controller.userDetails.password}}</p>
<p class="alert alert-success">Mobile:{{controller.userDetails.mobile}}</p>
<p class="alert alert-success">ID:{{controller.userDetails.id}}</p>
 <a class="btn btn-primary"align="center"  href="" class="delete" ng-click="deleteuser(controller.userDetails.id)">Delete</a>
  <button class="btn btn-primary" align="center"  ng-click="startEdit(data)">Edit</button>
</strong>   
<h1 class="alert alert-success" ng-show="success">Data is successfully deleted</h1>               
</div>